# Gradle のファイル
.gradle/
build/

# ローカル設定ファイル（SDK のパスなど）
local.properties

# ログ・OS のファイル
*.log

# Android Studio が生成するファイルとフォルダ
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json

# IntelliJ の設定
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# キーストア
*.jks
*.keystore

# Google サービスの設定（API・Firebase など）
google-services.json

# Android のプロファイリング結果
*.hprof